{% extends "adminDashboard/base.html" %}
{% load static %}

{% block content %}
{% for warga in warga %}
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal{{warga.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin ingin menghapus data:</p>

                <p style="margin-bottom:4px;">Nama: {{warga.nama}}</p>
                <p style="margin-bottom:4px;">NIK: {{warga.nik}}</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Batal</button>

                <a href="{% url 'delete_item' warga.id %}">
                    <button type="submit" class="btn btn-secondary">Hapus</button>
                </a>

            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- ============================================================== -->
<!-- data table  -->
<!-- ============================================================== -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Database Covid19 Kelurahan Tridadi</h5>
        </div>
        <div class="card-body">
            <a href="{% url 'data_form' %}">
                <button style="margin-bottom:25px;" class="btn btn-space btn-primary">Pasien
                    Baru
                </button>
            </a>
            <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered second" style="width:100%">
                    <thead>
                    <tr>
                        <th>Aksi</th>
                        <th>Tanggal Terdaftar</th>
                        <th>Nama</th>
                        <th>Usia</th>
                        <th>No. Kontak</th>
                        <th>Padukuhan</th>
                        <th>RT/RW</th>
                        <th>Alamat Lengkap</th>
                        <th>Status</th>
                        <th>Faskes Awal</th>
                        <th>Rumah sakit (Rujukan)</th>
                        <th>Last Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for warga in warga %}
                    <tr>
                        <td>
                            <table style="border-spacing:1px;">
                                <tr style="border:none;background-color:transparent;">
                                    <th style="border:none;background-color:transparent;">
                                        <a href="#" class="connection-item" data-toggle="modal"
                                           data-target="#deleteModal{{warga.id}}"><img
                                                style="width:17px;height:auto;"
                                                src="{% static 'assets/images/trash.png' %}"
                                                alt=""></a>
                                    </th>
                                    <th style="border:none;background-color:transparent;">
                                        <a href="{% url 'update_data' warga.id %}" class="connection-item"><img style="width:20px;height:auto;"
                                                                                 src="{% static 'assets/images/edit.png' %}"
                                                                                 alt=""></a>
                                    </th>
                                    <th style="border:none;background-color:transparent;">
                                        <a href="{% url 'penanganan' warga.id %}" class="connection-item"><img style="width:19px;height:auto;"
                                                                                 src="{% static 'assets/images/penanganan.png' %}"
                                                                                 alt=""></a>
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <p>{{warga.tanggal_input}}</p>
                            <p>{{warga.waktu_input}}</p>
                        </td>
                        <td>
                            <p>{{warga.nama}}</p>
                            <p>NIK: {{warga.nik}}</p>
                        </td>
                        <td>{{warga.usia}}</td>
                        <td>{{warga.no_kontak}}</td>
                        <td>{{warga.padukuhan}}</td>
                        <td>{{warga.rt}}/{{warga.rw}}</td>
                        <td>{{warga.alamat}}</td>

                        <td>
                            {% if warga.status == 'Konfirmasi' %}
                                <p style="color:#FFA500;font-weight:bold;">{{warga.status}}</p>
                            {% elif warga.status == 'Isolasi Mandiri'%}
                                <p style="color:#d1d113;font-weight:bold;">{{warga.status}}</p>
                            {% elif warga.status == 'Dirawat'%}
                                <p style="color:red;font-weight:bold;">{{warga.status}}</p>
                            {% elif warga.status == 'Sembuh' %}
                                <p style="color:#0da006;font-weight:bold;">{{warga.status}}</p>
                            {% elif warga.status == 'Meninggal' %}
                                <p style="color:#7c7c7c;font-weight:bold;">{{warga.status}}</p>
                            {% endif %}
                        </td>

                        <td>{{warga.faskes_awal}}</td>
                        <td>{{warga.Rujukan}}</td>
                        <td>
                            <p>{{warga.last_update}}</p>
                            <p>{{warga.last_update_time}}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Aksi</th>
                        <th>Tanggal Terdaftar</th>
                        <th>Nama</th>
                        <th>Usia</th>
                        <th>No. Kontak</th>
                        <th>Padukuhan</th>
                        <th>RT/RW</th>
                        <th>Alamat Lengkap</th>
                        <th>Status</th>
                        <th>Faskes Awal</th>
                        <th>Rumah sakit (Rujukan)</th>
                        <th>Last Update</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}