{% extends "adminDashboard/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/vendor/charts/morris-bundle/morris.css' %}">

<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"> Covid-19 Tracer Kelurahan Tridadi </h2>
                    <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris
                        facilisis faucibus at enim quis massa lobortis rutrum.</p>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
        <div class="ecommerce-widget">

            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-muted">Dirawat</h5>
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">{{dirawat_count}}</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
<!--                                <span><i class="fa fa-fw fa-arrow-up"></i></span><span></span>-->
                            </div>
                        </div>
                        <div id="sparkline-revenue"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-muted">Isolasi Mandiri</h5>
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">{{isoman_count}}</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
<!--                                <span><i class="fa fa-fw fa-arrow-up"></i></span><span></span>-->
                            </div>
                        </div>
                        <div id="sparkline-isoman"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-muted">Sembuh</h5>
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">{{sembuh_count}}</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                                <span></span>
                            </div>
                        </div>
                        <div id="sparkline-sembuh"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-muted">Meninggal</h5>
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">{{meninggal_count}}</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-secondary font-weight-bold">
                                <span></span>
                            </div>
                        </div>
                        <div id="sparkline-meninggal"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- ============================================================== -->
                <!-- total revenue  -->
                <!-- ============================================================== -->


                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- category revenue  -->
                <!-- ============================================================== -->
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Perkembangan Kasus COVID-19 </h5>
                        <div class="card-body">
                            <div id="c3chart_category" style="height: 420px;"></div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end category revenue  -->
                <!-- ============================================================== -->

                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header"> Kasus Terkonformasi </h5>
                        <div class="card-body">
                            <div id="morris_konfirmasi"></div>
                        </div>
                        <div class="card-footer">
                            <p class="display-7 font-weight-bold"><span
                                    class="text-primary d-inline-block">Total Kasus: {{total_count}}</span><span
                                    class="text-success float-right"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header"> Kasus Terkonformasi: Sembuh </h5>
                        <div class="card-body">
                            <div id="morris_sembuh"></div>
                        </div>
                        <div class="card-footer">
                            <p class="display-7 font-weight-bold"><span
                                    class="text-primary d-inline-block">Total Kasus: {{sembuh_count}}</span><span
                                    class="text-success float-right"></span></p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header"> Kasus Terkonformasi: Meninggal </h5>
                        <div class="card-body">
                            <div id="morris_meningal"></div>
                        </div>
                        <div class="card-footer">
                            <p class="display-7 font-weight-bold"><span
                                    class="text-primary d-inline-block">Total Kasus: {{meninggal_count}}</span><span
                                    class="text-success float-right"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- ============================================================== -->

                <!-- ============================================================== -->

                <!-- recent orders  -->
                <!-- ============================================================== -->
                <div class="col-xl-7 col-lg-12 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Tabel Penyebaran Kasus COVID-19</h5>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0">Padukuhan</th>
                                        <th class="border-0">Konfirmasi</th>
                                        <th class="border-0">Dirawat</th>
                                        <th class="border-0">Isolasi Mandiri</th>
                                        <th class="border-0">Sembuh</th>
                                        <th class="border-0">Meninggal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Wedas</td>
                                        <td>{{padukuhan.0}}</td>
                                        <td>{{padukuhan_dirawat.0}}</td>
                                        <td>{{padukuhan_isoman.0}}</td>
                                        <td>{{padukuhan_sembuh.0}}</td>
                                        <td>{{padukuhan_meninggal.0}}</td>
                                    </tr>
                                    <tr>
                                        <td>Paten</td>
                                        <td>{{padukuhan.1}}</td>
                                        <td>{{padukuhan_dirawat.1}}</td>
                                        <td>{{padukuhan_isoman.1}}</td>
                                        <td>{{padukuhan_sembuh.1}}</td>
                                        <td>{{padukuhan_meninggal.1}}</td>
                                    </tr>
                                    <tr>
                                        <td>Ngemplak Caban</td>
                                        <td>{{padukuhan.2}}</td>
                                        <td>{{padukuhan_dirawat.2}}</td>
                                        <td>{{padukuhan_isoman.2}}</td>
                                        <td>{{padukuhan_sembuh.2}}</td>
                                        <td>{{padukuhan_meninggal.2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Pangukan</td>
                                        <td>{{padukuhan.3}}</td>
                                        <td>{{padukuhan_dirawat.3}}</td>
                                        <td>{{padukuhan_isoman.3}}</td>
                                        <td>{{padukuhan_sembuh.3}}</td>
                                        <td>{{padukuhan_meninggal.3}}</td>
                                    </tr>
                                    <tr>
                                        <td>Beteng</td>
                                        <td>{{padukuhan.4}}</td>
                                        <td>{{padukuhan_dirawat.4}}</td>
                                        <td>{{padukuhan_isoman.4}}</td>
                                        <td>{{padukuhan_sembuh.4}}</td>
                                        <td>{{padukuhan_meninggal.4}}</td>
                                    </tr>
                                    <tr>
                                        <td>Pisangan</td>
                                        <td>{{padukuhan.5}}</td>
                                        <td>{{padukuhan_dirawat.5}}</td>
                                        <td>{{padukuhan_isoman.5}}</td>
                                        <td>{{padukuhan_sembuh.5}}</td>
                                        <td>{{padukuhan_meninggal.5}}</td>
                                    </tr>
                                    <tr>
                                        <td>Dukuh</td>
                                        <td>{{padukuhan.6}}</td>
                                        <td>{{padukuhan_dirawat.6}}</td>
                                        <td>{{padukuhan_isoman.6}}</td>
                                        <td>{{padukuhan_sembuh.6}}</td>
                                        <td>{{padukuhan_meninggal.6}}</td>
                                    </tr>
                                    <tr>
                                        <td>Beran Lor</td>
                                        <td>{{padukuhan.7}}</td>
                                        <td>{{padukuhan_dirawat.7}}</td>
                                        <td>{{padukuhan_isoman.7}}</td>
                                        <td>{{padukuhan_sembuh.7}}</td>
                                        <td>{{padukuhan_meninggal.7}}</td>
                                    </tr>
                                    <tr>
                                        <td>Josari</td>
                                        <td>{{padukuhan.8}}</td>
                                        <td>{{padukuhan_dirawat.8}}</td>
                                        <td>{{padukuhan_isoman.8}}</td>
                                        <td>{{padukuhan_sembuh.8}}</td>
                                        <td>{{padukuhan_meninggal.8}}</td>
                                    </tr>
                                    <tr>
                                        <td>Drono</td>
                                        <td>{{padukuhan.9}}</td>
                                        <td>{{padukuhan_dirawat.9}}</td>
                                        <td>{{padukuhan_isoman.9}}</td>
                                        <td>{{padukuhan_sembuh.9}}</td>
                                        <td>{{padukuhan_meninggal.9}}</td>
                                    </tr>
                                    <tr>
                                        <td>Beran Kidul</td>
                                        <td>{{padukuhan.10}}</td>
                                        <td>{{padukuhan_dirawat.10}}</td>
                                        <td>{{padukuhan_isoman.10}}</td>
                                        <td>{{padukuhan_sembuh.10}}</td>
                                        <td>{{padukuhan_meninggal.10}}</td>
                                    </tr>
                                    <tr>
                                        <td>Kebonagung</td>
                                        <td>{{padukuhan.11}}</td>
                                        <td>{{padukuhan_dirawat.11}}</td>
                                        <td>{{padukuhan_isoman.11}}</td>
                                        <td>{{padukuhan_sembuh.11}}</td>
                                        <td>{{padukuhan_meninggal.11}}</td>
                                    </tr>
                                    <tr>
                                        <td>Jaban</td>
                                        <td>{{padukuhan.12}}</td>
                                        <td>{{padukuhan_dirawat.12}}</td>
                                        <td>{{padukuhan_isoman.12}}</td>
                                        <td>{{padukuhan_sembuh.12}}</td>
                                        <td>{{padukuhan_meninggal.12}}</td>
                                    </tr>
                                    <tr>
                                        <td>Denggung</td>
                                        <td>{{padukuhan.13}}</td>
                                        <td>{{padukuhan_dirawat.13}}</td>
                                        <td>{{padukuhan_isoman.13}}</td>
                                        <td>{{padukuhan_sembuh.13}}</td>
                                        <td>{{padukuhan_meninggal.13}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bangunrejo</td>
                                        <td>{{padukuhan.14}}</td>
                                        <td>{{padukuhan_dirawat.14}}</td>
                                        <td>{{padukuhan_isoman.14}}</td>
                                        <td>{{padukuhan_sembuh.14}}</td>
                                        <td>{{padukuhan_meninggal.14}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end recent orders  -->


                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- customer acquistion  -->
                <!-- ============================================================== -->
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Penyebaran Kasus COVID-19 </h5>
                        <div class="card-body">
                            <div id="c3chart_padukuhan" style="height: 420px;"></div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end customer acquistion  -->
                <!-- ============================================================== -->
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header"> Vaksinasi Pertama </h5>
                        <div class="card-body">
                            <div id="morris_vaksin_pertama"></div>
                        </div>
                        <div class="card-footer">
                            <p class="display-7 font-weight-bold"><span
                                    class="text-primary d-inline-block">Total: {{vaksin_pertama_count}}</span><span
                                    class="text-success float-right"></span></p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header"> Vaksin Kedua </h5>
                        <div class="card-body">
                            <div id="morris_vaksin_kedua"></div>
                        </div>
                        <div class="card-footer">
                            <p class="display-7 font-weight-bold"><span
                                    class="text-primary d-inline-block">Total: {{vaksin_kedua_count}}</span><span
                                    class="text-success float-right"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Perkembangan Vaksinasi COVID-19 </h5>
                        <div class="card-body">
                            <div id="c3chart_jenis_vaksin" style="height: 420px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- sparkline -->
<script src="{% static 'assets/vendor/charts/sparkline/jquery.sparkline.js' %}"></script>
<script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>

<!-- morris js -->
<script src="{% static 'assets/vendor/charts/morris-bundle/raphael.min.js' %}"></script>
<script src="{% static 'assets/vendor/charts/morris-bundle/morris.js' %}"></script>

<!-- chart c3 js -->
<script src="{% static 'assets/vendor/charts/c3charts/c3.min.js' %}"></script>
<script src="{% static 'assets/vendor/charts/c3charts/d3-5.4.0.min.js' %}"></script>
<script src="{% static 'assets/vendor/charts/c3charts/C3chartjs.js' %}"></script>
<script src="{% static 'assets/libs/js/dashboard-ecommerce.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<script>
    var chart = c3.generate({
        bindto: "#c3chart_category",
        data: {
            columns: [
                ['Isoman', {{isoman_count}}],
                ['Sembuh', {{ sembuh_count }}],
                ['Meninggal', {{ meninggal_count }}],
                ['Dirawat', {{ dirawat_count }}],

            ],
            type: 'donut',

            onclick: function(d, i) { console.log("onclick", d, i); },
            onmouseover: function(d, i) { console.log("onmouseover", d, i); },
            onmouseout: function(d, i) { console.log("onmouseout", d, i); },

            colors: {
                Isoman: '#e09d1f',
                Sembuh: '#06c770',
                Meninggal: '#40435c',
                Dirawat: '#ff3700',
            }
        },
        donut: {
            label: {
                show: true
            }
        },

    });
</script>

<script>
    var chart = c3.generate({
        bindto: "#c3chart_jenis_vaksin",
        data: {
            columns: [
                ['Sinovac', {{sinovac}}],
                ['Moderna', {{ moderna }}],
                ['PFIZER', {{ pfizer }}],
                ['Bio Farma', {{ biofarma }}],
                ['AstraZeneca', {{astra}}],
                ['Sinopharm', {{sinopharm}}],

            ],
            type: 'donut',

            onclick: function(d, i) { console.log("onclick", d, i); },
            onmouseover: function(d, i) { console.log("onmouseover", d, i); },
            onmouseout: function(d, i) { console.log("onmouseout", d, i); },

        },
        donut: {
            label: {
                show: true
            }
        },

    });
</script>

<script>
    var chart = c3.generate({
        bindto: "#c3chart_padukuhan",
        data: {
            columns: [
                ['Wadas', {{padukuhan.0}}],
                ['Paten', {{ padukuhan.1 }}],
                ['Ngemplak Caban', {{ padukuhan.2 }}],
                ['Pangukan', {{ padukuhan.3 }}],
                ['Beteng', {{ padukuhan.4 }}],
                ['Pisangan', {{ padukuhan.5 }}],
                ['Dukuh', {{ padukuhan.6 }}],
                ['Beran Lor', {{ padukuhan.7 }}],
                ['Josari', {{ padukuhan.8 }}],
                ['Drono', {{ padukuhan.9 }}],
                ['Beran Kidul', {{ padukuhan.10 }}],
                ['Kebonagung', {{ padukuhan.11 }}],
                ['Jaban', {{ padukuhan.12 }}],
                ['Denggung', {{ padukuhan.13 }}],
                ['Bangunrejo', {{ padukuhan.14 }}],
            ],
            type: 'donut',

            onclick: function(d, i) { console.log("onclick", d, i); },
            onmouseover: function(d, i) { console.log("onmouseover", d, i); },
            onmouseout: function(d, i) { console.log("onmouseout", d, i); },
        },
        donut: {
            label: {
                show: true
            }
        },

    });
</script>

<script>
    Morris.Area({
        element: 'morris_vaksin_pertama',
        behaveLikeLine: true,
        data: [
            {% for i in vaksin_pertama_count_perday %}
            { x: '{{i.date_created}}', y: {{i.created_count}} },
            {% endfor %}
        ],
        xkey: 'x',
        ykeys: ['y'],
        labels: ['Vaksin Pertama'],
        lineColors: ['#5969ff'],
        xLabelFormat: function (d) {
            return ("0" + d.getDate()).slice(-2) + '-' + ("0" + (d.getMonth() + 1)).slice(-2) + '-' + d.getFullYear();
        },
        resize: true

    });
</script>

<script>
    Morris.Area({
        element: 'morris_vaksin_kedua',
        behaveLikeLine: true,
        data: [
            {% for i in vaksin_kedua_count_perday %}
            { x: '{{i.date_created}}', y: {{i.created_count}} },
            {% endfor %}
        ],
        xkey: 'x',
        ykeys: ['y'],
        labels: ['Vaksin Kedua'],
        lineColors: ['#5969ff'],
        xLabelFormat: function (d) {
            return ("0" + d.getDate()).slice(-2) + '-' + ("0" + (d.getMonth() + 1)).slice(-2) + '-' + d.getFullYear();
        },
        resize: true

    });
</script>

<script>
    Morris.Area({
        element: 'morris_konfirmasi',
        behaveLikeLine: true,
        data: [
            {% for i in count_perday %}
            { x: '{{i.date_created}}', y: {{i.created_count}} },
            {% endfor %}
        ],
        xkey: 'x',
        ykeys: ['y'],
        labels: ['konfirmasi'],
        lineColors: ['#5969ff'],
        xLabelFormat: function (d) {
            return ("0" + d.getDate()).slice(-2) + '-' + ("0" + (d.getMonth() + 1)).slice(-2) + '-' + d.getFullYear();
        },
        resize: true

    });
</script>

<script>
    Morris.Area({
        element: 'morris_sembuh',
        behaveLikeLine: true,
        data: [
            {% for i in sembuh_perday %}
            { x: '{{i.date_created}}', y: {{i.created_count}} },
            {% endfor %}
        ],
        xkey: 'x',
        ykeys: ['y'],
        labels: ['Sembuh'],
        lineColors: ['#06c770'],
        xLabelFormat: function (d) {
            return ("0" + d.getDate()).slice(-2) + '-' + ("0" + (d.getMonth() + 1)).slice(-2) + '-' + d.getFullYear();
        },
        resize: true

    });
</script>

<script>
    Morris.Area({
        element: 'morris_meningal',
        behaveLikeLine: true,
        data: [
            {% for i in meninggal_perday %}
            { x: '{{i.date_created}}', y: {{i.created_count}} },
            {% endfor %}
        ],
        xkey: 'x',
        ykeys: ['y'],
        labels: ['Meninggal'],
        lineColors: ['#40435c'],
        xLabelFormat: function (d) {
            return ("0" + d.getDate()).slice(-2) + '-' + ("0" + (d.getMonth() + 1)).slice(-2) + '-' + d.getFullYear();
        },
        resize: true

    });
</script>

<script type="text/javascript">
    $(function() {

        $("#sparkline-revenue").sparkline([{% for i in dirawat_perday %} {{ i.created_count }}, {% endfor %}], {
            type: 'line',
            width: '99.5%',
            height: '100',
            lineColor: '#ff3700',
            fillColor: '#ff9d8a',
            lineWidth: 2,
            spotColor: '#ba2618',
            minSpotColor: undefined,
            maxSpotColor: undefined,
            highlightSpotColor: undefined,
            highlightLineColor: '#ba2618',
            resize: true
        });

        $("#sparkline-isoman").sparkline([{% for i in isoman_perday %} {{ i.created_count }}, {% endfor %}], {
            type: 'line',
            width: '99.5%',
            height: '100',
            lineColor: '#ff660d',
            fillColor: '#ffd4a6',
            lineWidth: 2,
            spotColor: undefined,
            minSpotColor: undefined,
            maxSpotColor: undefined,
            highlightSpotColor: undefined,
            highlightLineColor: undefined,
            resize: true
        });

        $("#sparkline-sembuh").sparkline([{% for i in sembuh_perday %} {{ i.created_count }}, {% endfor %}], {
            type: 'line',
            width: '99.5%',
            height: '100',
            lineColor: '#06c770',
            fillColor: '#82ffc7',
            lineWidth: 2,
            spotColor: undefined,
            minSpotColor: undefined,
            maxSpotColor: undefined,
            highlightSpotColor: undefined,
            highlightLineColor: undefined,
            resize: true
        });

        $("#sparkline-meninggal").sparkline([{% for i in meninggal_perday %} {{ i.created_count }}, {% endfor %}], {
            type: 'line',
            width: '99.5%',
            height: '100',
            lineColor: '#4b5575',
            fillColor: '#9d9fa8',
            lineWidth: 2,
            spotColor: undefined,
            minSpotColor: undefined,
            maxSpotColor: undefined,
            highlightSpotColor: undefined,
            highlightLineColor: undefined,
            resize: true,
        });

    });
</script>
{% endblock content %}